html {
    width: 100%;
    height: 100%;
    background-color:black;
    background-image: url("spiralgalbackground.png");
}

h1 {
    font-family: Shadows Into Light Two;
    text-align: center;
    font-size: 100px;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title {
    0% {
        text-shadow: 5px 5px 20px RebeccaPurple;
    }
    25% {
        text-shadow: 5px 5px 10px MediumPurple;
    }
    50% {
        text-shadow: 5px 5px 5px Gray;
    }
    75% {
        text-shadow: 5px 5px 10px MediumPurple;
    }
    100% {
        text-shadow: 5px 5px 20px RebeccaPurple;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-family: Walter Turncoat;
    color: white;
    text-shadow: 1px 1px 5px purple;
    text-align: center;
}

h3 {
    width: 200px;
    height: 200px;
    text-align: center;
    background-image:url("starss.png");
    border-radius: 75%;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    transform: rotateZ(360deg);
}

@keyframes circle {
    0%{ transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg)}
}