h1 {
    font-family: Shadows Into Light Two;
    text-align: center;
    font-size: 100px;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title{
    0% {text-shadow: 5px 5px 20px RebeccaPurple;}
    25% {text-shadow: 5px 5px 10px MediumPurple;}
    50% {text-shadow: 5px 5px 5px Gray;}
    75% {text-shadow: 5px 5px 10px MediumPurple;}
    100% {text-shadow: 5px 5px 20px RebeccaPurple;}
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-family:Walter Turncoat;
    color: white;
    text-shadow: 1px 1px 5px purple;
    text-align: center;
}

h3 {
background-color:red;
    border-radius: 75%;
    animation-name:circle;
    animation-delay: 2s;
  animation-duration:10s;
    animation-timing-function: ease-in-out;
    display:block
}
@keyframes circle {
    0% {background-color:blue;}
    25% {background-color:gray;}
    50% {background-color:orange;}
    75% {background-color:purple;}
    100% {background-color:green;}
}